# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
.venv/
env/
*.egg-info/

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.yml
**/Dockerfile

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

# Logs
*.log
